.navbarWrapper {
    background-color: #ffff;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.searchField {
    max-width: 240px;
    border-radius: 20px;
    border: none;
    background-color: #F0F2F5;

    svg {
        color: #c3c1c1;
        margin-right: 0.5rem;
    }
}

.actionRightSection {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.leftSection {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menuItem {
    svg {
        color: #0866FF;
    }
}