.commentContentWrapper {
    padding: 0.8rem;
    background-color: #F0F2F5;
    border-radius: 20px;
    width: 100%;
}

.cardWrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 2rem;
}